<div class="ui large inverted menu">
  <div class="ui container">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <% if logged_in? %>
      <div class="right menu">
        <div>
          <a class="ui label">
            <i class="user icon"></i> <%= current_user.username %>
          </a>
        </div>
        <div class="item">
          <%= link_to 'Log out', logout_path, class: "ui purple inverted button", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>